section{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.Careers-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url("https://i.imgur.com/FQKymlZ.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Careers-UserInput-Container{
    margin: 60px;
    padding: 25px;
    width: 50%;
    border: 20px solid rgba(92, 92, 92, 0.932);
    background-color: rgba(66, 65, 65, 0.658);
    border-radius: 15px;
    color: white;
}

.CareerInfo{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 10px;
}

.inputDescription{
    width: 60%;
}

.firstName, .lastName, .emailAddress, .phone, .address1, 
.city, .states, .zip, .unionName {
    margin: 5px;
    width: 150px;
    border: 5px solid rgba(185, 185, 185, 0.932);
    border-radius: 5px;
}

.unionPainter, .resume{
    margin: 5px;
}


.qualifications{
    margin: 5px;
    height: 50px;
    width: 450px;
    border: 5px solid rgba(185, 185, 185, 0.932);
    border-radius: 5px;
}

.submitButton{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
}


@media only screen and (max-width: 500px) {
    section{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .Careers-Container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-image: url("https://i.imgur.com/FQKymlZ.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .Careers-UserInput-Container{
        margin: 50px;
        padding: 10px;
        width: 88%;
        border: 4px solid rgba(92, 92, 92, 0.932);
        background-color: rgba(66, 65, 65, 0.658);
        border-radius: 15px;
        color: white;
    }
    
    .CareerInfo{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin: 10px;
    }
    
    .inputDescription{
        width: 100%;
    }
    
    .firstName, .lastName, .emailAddress, .phone, .address1, 
    .city, .states, .zip, .unionName {
        margin: 5px;
        width: 150px;
        border: 3px solid rgba(185, 185, 185, 0.932);
        border-radius: 2px;
    }
    
    .unionPainter, .resume{
        margin: 5px;
        border: 3px solid rgba(185, 185, 185, 0.932);
        border-radius: 5px;
    }


    .states{
        overflow:auto;
    }
    
    
    .qualifications{
        margin: 5px;
        height: 50px;
        width: 80%;
        border: 2px solid rgba(185, 185, 185, 0.932);
        border-radius: 5px;
    }
    
    .submitButton{
        display: flex;
        justify-content: center;
        width: 100px;
        height: 50px;
        border: .5px solid rgba(0, 0, 0, 0.719);
    }
}