.Login-Register-Form{
    margin: 40px 10px 10px 10px;
}

.Login-Register-Input{
    margin: 10px;
}

.Login-Register-Link{
    color:black;
    text-decoration:none;
}

.Login-Register-Link:hover{
    color:red;
    text-decoration:none;
    font-weight: bolder;
}