header{
    display: flex;
    justify-content: space-between;
    height: 130px;
    width:100vw;
    background-color: gray;
}

.HeaderLogo{
    height: 100px;
    width: 325px;
    object-fit: fit;
    margin:15px;
    border-radius: 35px;
}

.NavBarOuter{
    display: flex;
    align-items: center;
}

.NavBarInner{
    display: flex;
    align-items: center;
    background-color: lightgray;
    margin: 15px;
    padding: 10px;
    border-radius: 30px;
}

.LinksInNavBar{
    margin:10px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.LinksInNavBar:hover{
    margin:10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 130px;
        width:95vw;
        background-color: gray;
    }

  .HeaderLogo{
    height: 50px;
    width: 180px;
    object-fit: fit;
    margin:5px;
    padding:10px;
    border-radius: 35px;
    }

    .NavBarOuter{
        display: flex;
        align-items: center;
        width: 85%;
        height:50%;
    }

    .NavBarInner{
        display: flex;
        align-items: center;
        background-color: lightgray;
        width: 92%;
        height:30%;
        margin: 5px;
        padding: 10px;
        border-radius: 30px;
    }

    .LinksInNavBar{
        width: 85%;
        margin:2px;
        text-decoration: none;
        color: white;
        overflow: auto;
        font-size: 8px;
    }

    .LinksInNavBar:hover{
        margin:10px;
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}